@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;700&family=Nunito:wght@200;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto', sans-serif; */

.first_body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  max-height: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: radial-gradient(#474545 0.5px, rgb(31, 31, 31) 0.5px);
  background-position: 0 0, 10px 10px;
  opacity: 1;
  position: relative;
}
.welcome_first {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNvbGxlZ2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
    background-repeat: no-repeat; */
  position: relative;
  background-image: radial-gradient(#474545 0.5px, rgb(31, 31, 31) 0.5px);
  background-position: 0 0, 10px 10px;
  background-image: url(https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGNvbGxlZ2V8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80);
  background-image: url(https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
}
.welcome_first_nav {
  z-index: 2;
  width: 50px;
  position: fixed;
  left: 0;
  top: 50%;
  background: rgb(255, 208, 53);
  background: #293250;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
.welcome_first_nav div {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  width: 50px;
  width: 100%;
  background: transparent;
  transition: all 300ms ease;
  color: rgb(0, 0, 0);
  color: rgb(35, 196, 59);
}
.welcome_first_nav div:hover{
  background: rgb(35, 196, 59);
  color: #293250;
}
.welcome_first_nav div i {
  cursor: pointer;
}
.welcome_first h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 38px;
  margin-top: 15px;
  text-align: center;
  position: relative;
  color: rgb(255, 255, 255);
  text-shadow: 2.5px 2px rgba(0, 0, 0, 0.281);
}

.second_first {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(#474545 0.5px, rgb(31, 31, 31) 0.5px);
  background-position: 0 0, 10px 10px;
  margin-bottom: 50px;
  opacity: 1;
}
.search_alumni {
  width: 80vw;
  max-width: 80vw;
  padding: 20px 0;
  background: rgb(63, 63, 63);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-top: 30px;
}
.search_alumni_head {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}
.search_alumni_head h2 {
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  color: rgb(201, 201, 201);
}
.input_search_alumni {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.input_search_alumni div {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  justify-content: center;
}
.input_search_alumni div label {
  font-size: 24px;
  color: whitesmoke;
  font-family: "Nunito", sans-serif;
}
.input_search_alumni div input {
  margin-top: 4px;
  width: 30vw;
  font-size: 23px;
  border: none;
  outline: none;
  background: transparent;
  border: 3px solid #2b2b2b;
  padding: 4px 0;
  border-radius: 5px;
  transition: all 400ms ease;
  font-family: "Montserrat", sans-serif;
  color: rgba(255, 255, 255, 0.521);
}
.input_search_alumni div input:hover {
  border: 3px solid #ffffff73;
}
.input_search_alumni div input:focus {
  border: 3px solid #542bb3;
}
.alumni_search button{
  width: 150px;
  height: 40px;
  margin-top: 40px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
  background: #5118d4;
  font-size: 18px;
  color: #d9b9ff;
  font-weight: 400;
  transition: all 400ms ease;
  text-transform: uppercase;
}
.alumni_search button:hover {
  background: #18004e;
  color: rgb(255, 255, 255);
}

.alumni_section {
  width: 80vw;
  max-width: 80vw;
  border: 2px solid rgb(128, 128, 128);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 30px;
  text-align: center;
}
.alumni_section h2 {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  color: white;
}
.cc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
}
.cc button {
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .welcome_first_nav{
    width: 35px;
  }
  .welcome_first_nav div i{
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px){
  .input_search_alumni div .search_alm_inp{
    width: 60vw;
  }
}